:root {
  --color-primary: #ff4200;
  --color-secondary: #ff9001;
  --color-body: #c4c4c4;
  --color-body-dark: #484848;
  --color-background: #000;
  --color-heading: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: var(--color-body);
  font-size: 1.8rem;
  height: 100vh;
  overflow: hidden;
  letter-spacing: 2px;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-top: 0;
  margin-bottom: 2rem;
  line-height: 1.5;
}

h1 {
  font-size: 5.5rem;
  font-weight: 800;
}

p {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    line-height: 1.2;
    font-size: 9rem;
  }
}

/* links */
a {
  text-decoration: none;
  color: var(--color-body);
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

.list--slash-style li::before {
  content: "//";
  padding-right: 1rem;
}

.list--inline li {
  display: inline-block;
  margin-right: 1rem;
}

/* Logo */
.logo__text {
  font-size: 3.5rem;
  font-weight: 800;
  color: #fff;
  display: inline-block;
  margin: 0;
  margin-right: 0.25rem;
  letter-spacing: 0;
}

/* Animations */
@keyframes blinking {
  0% {
    visibility: visible;
  }

  50% {
    visibility: visible;
  }

  51% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}

.ani-blinking {
  animation: blinking 1s;
  animation-iteration-count: infinite;
}

@keyframes hovering {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  50% {
    transform: translateY(0.5rem);
    animation-timing-function: ease-in;
  }

  100% {
    transform: translateY(0);
  }
}

.ani-hovering {
  animation: hovering 1s;
  animation-iteration-count: infinite;
}

/* Collapsible */
.collapsible__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.collapsible--expanded + .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Navigation */
.navigation {
  align-items: center;
  background: var(--color-background);
  border-bottom: 1px solid var(--color-body-dark);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.nav__menu {
  color: rgb(165, 165, 165);
  transition: color 0.3s;
}

.nav__menu.collapsible--expanded {
  color: #fff;
}

.nav__list {
  width: 100%;
  margin: 0;
  letter-spacing: 1px;
}

.nav__item {
  padding: 0 2rem;
  padding-bottom: 1rem;
  color: rgb(165, 165, 165);
  transition: color 0.3s;
}

.nav__item a {
  color: rgb(165, 165, 165);
  transition: color 0.3s;
}

.nav__item:hover {
  color: #fff;
}

.nav__item:hover a {
  color: #fff;
}

.nav__item:first-of-type {
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .nav__menu {
    display: none;
  }

  .nav__list {
    opacity: 1;
    max-height: 100%;
    width: auto;
    display: flex;
  }

  .nav__item {
    padding: 0 2rem;
  }

  .nav__item:first-of-type {
    padding-top: 0;
  }
}

/* Blocks */
.block {
  padding: 5rem 2rem;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.block--dark {
  background: var(--color-background);
}

@media screen and (min-width: 768px) {
  .block {
    padding: 5rem;
  }
}

/* Tap animation */
.tap__main {
  overflow: hidden;
  transition: transform 0.3s;
  transition-timing-function: ease-out;
}

.tap__addition {
  max-height: 0;
  overflow: hidden;
  transition: transform 0.3s;
  transition-timing-function: ease-out;
  margin-right: 1rem;
}

.tap--active .tap__addition {
  max-height: 100%;
  transform: translateX(2rem);
}

.tap--active .tap__main {
  max-height: 0;
  transform: translateX(2rem);
}

@media screen and (min-width: 768px) {
  .tap--active .tap__addition {
    max-height: 0;
    transform: none;
  }

  .tap--active .tap__main {
    max-height: 100%;
    transform: none;
  }
}

/* info text */
.info-text {
  text-align: center;
}

.info-text__content {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 0;
}

.info-text--primary {
  color: var(--color-primary);
}

.info-text--secondary {
  color: var(--color-secondary);
}

.info-text__image {
  display: inline-block;
}

/* red button */
.red-button img {
  width: 100%;
}

.red-button {
  position: relative;
  width: 100%;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.red-button__static {
  display: block;
}

.red-button:hover {
  opacity: 1;
}

.red-button__mouse-down {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.red-button--pressed .red-button__static {
  visibility: hidden;
}

.red-button--pressed .red-button__mouse-down {
  display: block;
}

.red-button--pressed.red-button {
  opacity: 1;
}

/* main page */
.mainpage-container {
  height: 100%;
  --red-button-width: 200px;
}

.mainpage__button-container {
  display: none;
  width: var(--red-button-width);
}

.mainpage {
  height: 100%;
  display: flex;
  align-items: center;
}

.mainpage__info--mobile {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.mainpage__text--primary {
  color: var(--color-primary);
}

.mainpage__text--secondary {
  color: var(--color-secondary);
}

@media screen and (min-width: 768px) {
  .mainpage-container {
    padding-top: 10rem;
  }

  .mainpage__info--mobile {
    display: none;
  }

  .mainpage__button-container {
    display: block;
  }

  .mainpage__info--std {
    margin-top: 2rem;
  }

  .mainpage {
    display: grid;
    grid-template-columns: 1fr var(--red-button-width);
    gap: 5rem;
  }

  .mainpage__red-button--activate .tap__addition {
    max-height: 100%;
    transform: translateX(2rem);
  }

  .mainpage__red-button--activate .tap__main {
    max-height: 0;
    transform: translateX(2rem);
  }
}

/* .mainpage {
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  position: relative;
  height: 100%;
}

.mainpage__text {
  margin: 0;
}

.mainpage__text--primary {
  color: var(--color-primary);
}

.mainpage__text--secondary {
  color: var(--color-secondary);
}

.mainpage__info--mobile {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.mainpage__button-container {
  display: none;
} */

/* @media screen and (min-width: 768px) {
  .mainpage-container {
    padding-left: 0;
    padding-right: 0;
    display: grid;
    grid-template-rows: 300px 1fr;
    gap: 5rem;
    height: 100%;
  }

  .mainpage__info--std {
    display: block;
    position: absolute;
    text-align: center;
  }

  .mainpage__info--mobile {
    display: none;
  }

  .mainpage__lamp {
    display: block;
    position: relative;
    top: -250px;
  }

  .mainpage {
    max-height: 35rem;
    margin-top: auto;
    text-align: center;
  }

  .mainpage__lamp {
    display: block;
    width: 100%;
    position: fixed;
    top: -200px;
    overflow: hidden;
  }

  .mainpage__lamp-image img {
    visibility: hidden;
  }

  .lamp__off {
    display: block;
    background: url(../images/lamp\ off.svg) center top;
    background-repeat: no-repeat;
  }

  .lamp__on {
    background: url(../images/lamp\ on.svg) center top;
    display: none;
    background-repeat: no-repeat;
  }

  .lamp--active .lamp__off {
    display: none;
  }

  .lamp--active .lamp__on {
    display: block;
  }

  .lamp--active + .mainpage {
    display: block;
  } */

/* FIXME: units for ALL (the intro text and the positioning of other texts) (use relative), transition, height issue with lamp */
/* FIXME: touch screen devices that has the lamp function (touching the screen ruins it) */
/* FIXME: certain width sizes (768 to 1368) breaks the lamp on section (not centered) because of the lamp on image width */
/* TODO: rebuild the page in playground (idea: instead of a lamp, which is a big image, use a smaller, scalable image like a desktop, button presses to open the desktop, 
  displays the intro text */
/*
  .mainpage {
    display: none;
    height: auto;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 5rem;
  }
}


  .mainpage__lamp {
    display: block;
    position: absolute;
    top: -25rem;
    left: 0;
    right: 0;
    text-align: center;
  }

  .mainpage__lamp .lamp-off {
    display: none;
  }

  .mainpage__lamp .lamp-on {
    display: inline-block;
  } 

  .mainpage {
    display: block;
    height: auto;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
  } */
