<nav class="navigation">
  <div class="logo">
    <p class="logo__text">Ponleou.</p>
    <a href="/"
      ><img class="ani-blinking" src="images/logo dash.svg" alt=""
    /></a>
  </div>
  <div class="collapsible__toggler nav__menu">
    <i class="fa-solid fa-bars fa-2x"></i>
  </div>
  <ul class="collapsible__content list list--slash-style nav__list">
    <li class="nav__item"><a href="#">Work</a></li>
    <li class="nav__item"><a href="#">Contact</a></li>
    <li class="nav__item"><a href="#">About</a></li>
  </ul>
</nav>
