<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="box-container">
      <div class="box">
        <div class="box__side" id="front">front</div>
        <div class="box__side" id="back">back</div>
        <div class="box__side" id="right">right</div>
        <div class="box__side" id="left">left</div>
        <div class="box__side" id="top">top</div>
        <div class="box__side" id="bottom">bottom</div>
      </div>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
