html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: green;
}

#vector {
  height: 40vh;
  width: 80vw;
  stroke-dasharray: 1264;
  animation: stroke 3s ease-out;
}

@keyframes stroke {
  0% {
    stroke-dashoffset: 1264;
  }
  100% {
    stroke-dashoffset: 800;
  }
}
